<h2><%= @cocktail.name %></h2>

<h4>Ingredients</h4>

<ul>
<% @cocktail.doses.each do |dose| %>
  <li><%= dose.ingredient.name %>: <%= dose.description %></li>
<% end %>
</ul>

<button class="btn btn-secondary btn-dose">Add ingredient</button>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Add", class: "btn btn-primary" %>
<% end %>

<!-- <p>
  <span id="banner-typed-text"></span>
</p> -->
